/** Colors */
$brand-primary:         #525ddc;

/** Box Model  */
$spacer:                2rem;
$font-moul: "~mptchtml/src/sass/fonts/";
$font-battambang-path: "~mptchtml/src/sass/fonts/Battambang/";
$image-path: "~mptchtml/src/sass/images/";
